.container {
  width: 87.5%;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $breakpoint-medium) {
    width: 92%;
  }

  @media (min-width: $breakpoint-large) {
    width: 85%;
  }
}
